//*********************
//BLOG FILE
//*********************
  
//  Main START
.main {
  background: $whiteShadeColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
//  Main END
//  Aside START
.aside {
  background: $whiteSolidColor;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin-top: 5%;
  &__image {
    width: 100%;
    padding: 2rem;
  } 
}
// Aside END
// Recent Posts START 
.recent-posts {
  &__item {
    font-weight: 400;
    list-style-type: disc;
    list-style-position: outside;
  }
}
// Recent Posts END 

//  Article START
.article {
  width: 60vw;
  align-self: flex-start;
  justify-self: flex-start;
  margin-top: 5%;
  margin-left: 20px;
  background: $whiteSolidColor;
  border-bottom: 2px solid $duskBlueColor;
  &__comment {
    display: flex;
    // border: 2px solid red;
    flex-direction: row;
    align-items: center;
    border-bottom: 7px solid $duskBlueColor;

    &-image {
      align-self: flex-start;
      margin-top: 2rem;
      margin-left: 2rem; 
    }
    &-text {
      width: 30%;
    }
  }
}
//  Article END
// Contact Form START
.contact {
  background: $whiteShadeColor;
  .btn {
    width: 100%;
    margin-bottom: 100px;
  }
}

.contact__name, .contact__email, .contact__comments {
 
 margin-top: 20px;
 display: inline-block;
}

.contact__name, .contact__email {
  padding: 2rem;
  width: calc(50% - 7px);
  margin-right: 10px;
  display: inline-block;
}
.contact__email {
  margin-right: 0;
}
.contact__comments {
  width: 100%;
  padding: 2rem;
  margin-bottom: 20px;
}








