// Blog Articles START
.blog {
  background: $whiteSolidColor;
  &__flex {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  &__item:first-of-type {
      display: flex;
      flex-direction: row;
      
  }
  &__image {
      object-fit: cover;
  }
   &__image--left {
             margin-right: 100px;
             box-shadow: 15px 15px 0px 0px $primaryColor, -485px 15px 0px 0px $primaryColor;
        }
  
  &__item:last-of-type {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
 }
  &__image--right {
             margin-right: 100px;
             box-shadow: 15px 15px 0px 0px $primaryColor, 485px 15px 0px 0px $primaryColor;
        }
  &__content {
 width: 45%;
  }
}

@media (max-width: 960px) {
.blog {
  &__item:first-of-type {
      display: flex;
      flex-direction: column;
      
  }
   &__image--left {
             margin-right: 100px;
             box-shadow: 15px 15px 0px 0px $primaryColor
    }
  
  &__item:last-of-type {
    flex-direction: column;
     margin-top: 50px;
 }
  &__image--right {
             margin-right: 100px;
             box-shadow: 15px 15px 0px 0px $primaryColor
        }
  &__content {
    width: 90%;
}
}
}
