.footer {
  display: block;
  background: $offBlackColor;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  nav {
    text-align: center;
  }
  li {
    @include secondaryFont(1.1vw);
    display: inline-block;
    margin-right: 5px;
    line-height: 29px;
    letter-spacing: 0.3rem;
  }

  i {
    color: $primaryColor;
    font-size: 2rem;
  }
  span {
    @include secondaryFont(1.6rem);
    letter-spacing: 0.3rem;
    color: $textColor;
  }
}
