main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
}

.left-div {
  grid-column: 1;
}
.content-container {
  text-align: center;
  grid-column: 2;
}

.start {
  &__gameBtn {
    display: block;
    margin: 0 auto;
    background: $offBlackColor;
  }
  &__contentGameDetails {
    width: 80%;
    text-align: left;
    // margin: 2rem auto;
  }
}

.start-game-container {
  background: url("../assets/thesimpsonstown.jpg") no-repeat center / contain;
}

input:checked + label,
input:checked + label:hover {
  background: $offBlackColor;
}
