.game-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  text-align: center;
  grid-column: 2;
  align-items: center;
}

.start {
  &__gameBtn {
    display: block;
    margin: 0 auto;
    background: $offBlackColor;
  }
  &__contentGameDetails {
    width: 80%;
    text-align: left;
    font-size: 2.2rem;
    // margin: 2rem auto;
  }
}

.start-game-container {
  background: url("../assets/thesimpsonstown.jpg") no-repeat center / contain;
}

input:checked + label,
input:checked + label:hover {
  background: $accentColor;
}
