@mixin primaryFont($size) {
  color: $primaryColor;
  font-family: "Chewy", cursive;
  font-size: $size;
  text-align: center;
}

@mixin secondaryFont($size) {
  color: $offBlackColor;
  font-family: "Archivo", sans-serif;
  font-size: $size;
  text-align: center;
}
html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  min-height: 600px;
  color: $textColor;
  font-size: 1.8rem;
  background: $secondaryColor;
  // overflow-y: scroll;
}

header {
  display: block;
  // min-height: 10vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
  border: 0;
}

// typography styles
h1 {
  @include primaryFont(6rem);
  // text-shadow: 4px 4px 4px $offBlackColor;
}

h2 {
  @include primaryFont(3rem);
}

h3 {
  @include primaryFont(2.4rem);
}

p {
  @include secondaryFont(1.8rem);
}

input {
  display: inline-block;
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
p,
input,
li,
a {
  letter-spacing: 0.4rem;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  @include primaryFont(2rem);
  background: $primaryColor;
  color: $secondaryColor;
  text-align: center;
  padding: 1.5rem;
  transition: background 0.2s ease, border 0.2s ease;
  &:hover {
    background: lighten($primaryColor, $amount: 10);
  }
}

li {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}
