// Main Header START 
.main-header {
  display: none;
  background: $backgroundColor;
  position: relative;
  // display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  &-image {
    width: 55px;
  }
  &-title {
    align-items: center;
    margin-top: 2rem;
  }
}

// Main Header END
// Main Header END 
@media (max-width: 905px) {
  .main-header {
  }
}
