.image-container {
  height: 250px;
  width: 250px;
  border-radius: 2%;
  float: left;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  width: 100%;
  height: 40vh;
  background: #FAFAFA;
}

