.question-container {
  &:hover {
    color: $offWhiteColor;
    background: $primaryColor;
    cursor: pointer;
  }
  &-answertext {
    font-weight: bold;
  }
}

.selected {
  color: $offWhiteColor;
  background: $primaryColor;
  // box-shadow: 4px 4px 0 0 $offBlackColor;
}
